.app {
  background-color: white;
}

.app__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  /* opacity: 0.800000011920929; */
  background: rgba(33, 29, 228, 0.30);
  mix-blend-mode: soft-light;
  z-index: 100;
}