@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Slab', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* font-family: 'Krona One', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif; */