.footer {
    display: block;
    box-sizing: inherit;
    width: 100%;
    background-color: #283f41;
    flex: 1 1 0;
    flex-shrink: 0;
}

.footer__width {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 140px 0px 140px;
}

@media screen and (max-width: 1279px){
    .footer__width {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.footer__content {
    color: #e2e3e39e;
    text-align: left;
}

.footer__contentUp {
    display: flex;
    /* justify-content: space-around; */
    padding: 46px 0px 46px;
}

.footer__contentUpLeft {
    display: flex;
    flex-wrap: wrap;
}

.footer__options {
    box-sizing: border-box;
    padding: 0rem 0.5rem 0rem 0.5rem;
    max-width: 100%;
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footerHeader {
    width: 104px;
    height: 35px;
    flex-shrink: 0;
    border-radius: 100px;
    background: rgba(221, 85, 136, 0.51);
    font-size: 0.7125rem;
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 5px 0px 5px 0px; */
    /* letter-spacing: 1.15px; */
}

.footer__sitemap > h5 {
    font-size: 0.7125rem;
    margin-top: 8px;
}

.footer__helpCompare {
    display: flex;
}

.footer__helpCompareHeader {
    width: 106px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(221, 85, 136, 0.53);
    font-size: 0.7125rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8px;
}

.footer__list {
    font-size: 0.7125rem;
    padding-top: 8px;
    cursor: pointer;
}

.footer__contactHeader {
    font-size: 0.7125rem;
    width: 108px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 7px;
    background: rgba(221, 85, 136, 0.51);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__contactListUs {
    display: flex;
    margin-top: 10px;
}

.footer__contactListUs > h5 {
    font-size: 0.7125rem;
    margin-left: 10px;
}

.footer__contentUpRight {
    display: flex;
    flex-grow: 1;
    max-width: 100%;
    justify-content: left;
}

/* .footer__contentUpRight::before {
    content: '';
    border-left: 1px solid #000;
} */

.footer__messageHeader {
    font-size: 0.7125rem;
}

.footer__boxContent {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.formSubmit {
    color: rgba(#e2e3e3, 0.87) !important;
    background-color: rgba(89, 86, 86, 0.93) !important;
}

.MuiTextField-root {
    margin-left: 0px !important;
}

.MuiInputLabel-root, .MuiInputLabel-root {
    /* color: #e2e3e3 !important; */
}

.footer__contentDown {
    box-sizing: initial;
    padding: 32px 0px 0px;
}

@media screen and (max-width: 769px) {
    .footer__contentDown {
        display: block;

    }
}

.footer__copy {
    display: flex;
    flex-wrap: wrap;
    line-height: 32px;
    font-size: 12px;
    margin-left: -32px;
    padding-bottom: 32px;
}

.footer__copy > div {
    box-sizing: border-box;
    margin-left: 32px;
    margin-right: 0px;
    line-height: 32px;
    min-width: fit-content;
}

.footer__copy > div:nth-of-type(1) {
    order: 1;
}

.footer__copy > div:last-child {
    display: none;
}

.footer__copy > div > span {
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.44;
}


.footer__socialsLogo {
    display: flex;
    align-items: center;
}

.footer__logo > img {
    height: 30px;
}