.headerAlt {
    display: none;
    box-sizing: inherit;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1276px) {
    .headerAlt{
        display: block;
    }
}

.headerAlt__width {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 10px; */
}

.headerAlt__content{
    padding-top: 8px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.headerAlt__contentUp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerAlt__logoImg {
    object-fit: contain;
    height: 50px;
    padding: 5px 15px;
}

@media screen and (max-width: 374px) {
    .headerAlt__contact {
        display: none;
    }
}

.headerAlt__contentDown {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.headerAlt__menu {
    display: flex;
    align-items: center;
}

.headerAlt__menuShow {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: scroll;
    animation-name: rollin;
    animation-duration: 2s;
}

.headerAlt__menuShow::-webkit-scrollbar {
    display: none;
}

@keyframes rollin {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        opacity: -2;
    }
    
    to {
            transform: translate3d(0, 0, 0%);
            /* opacity: 40; */
        }
}

.menuHideAlt {
    display: none;
}

.headerAlt__MenuLogoCancel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerAlt__MenuLogoImg {
    object-fit: contain;
    height: 50px;
    padding: 5px 15px;
}

.headerAlt__liveHelp {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}

.headerAlt__menuOption {
    display: flex !important;
    align-items: center !important;
    padding: 12px !important;
    margin-bottom: 32px;
}

.headerAlt__menuCaption {
    color: #fff;
    max-width: fit-content;
    background-color: #f68700;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headerAlt__menuText {
    padding-left: 10px;
}

.headerAlt__search {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.headerAlt__input {
    display: flex;
    align-items: center;
    flex-grow: 1;
    border: 1px solid #00000083;
    border-radius: 8px;
    padding: 5px 20px;
    margin-right: 10px;
}

.headerAlt__input > input {
    width: 100%;
    border: none;
    outline-width: 0;
}