.heroSection {
    display: block;
    box-sizing: inherit;
    width: 100%;
    background-color: #d58830;
    margin-bottom: 25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.heroSection__width {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 140px;
    padding-right: 140px;
}

@media screen and (max-width: 1355px) {
    .heroSection__width {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 1256px) {
    .heroSection__width {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .heroSection__width {
        padding-left: 6px;
        padding-right: 0px;
    }
}

.heroSection__content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 30px;
    padding-top: 30px;
}

.heroSection__slider {
    display: block;
    /* border-right: 2px solid rgba(236, 227, 230, 0.40);
    border-bottom: 4px solid rgba(236, 227, 230, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
}

.heroSection__cards,  .heroSection__cards1 {
    z-index: 1;
} 

@media screen and (max-width: 1199px) {
    .heroSection__content {
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .heroSection__cards {
        display: none;
        margin-top: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .heroSection__content {
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .heroSection__cards {
        display: none;
        margin-top: 0px;
    }
}

@media screen and (max-width: 900px) {
    .heroSection__cards1 {
        display: flex;
        margin-top: 0px;
    }
}

.noCurrent {
    display: none;
}
.heroSection__heroImg {
    display: block;
    border-right: 2px solid rgba(236, 227, 230, 0.40);
    border-bottom: 4px solid rgba(236, 227, 230, 0.40);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation-name: slider;
    animation-duration: 5s;
}

.heroSection__heroImgPic {
    height: 382px;
    /* max-width: 653px; */
}

@media screen and (max-width: 1023px) {
    .heroSection__heroImg {
        align-self: flex-start;
        margin-top: 9px;
    }
}

@media screen and (max-width: 899px) {
    .heroSection__heroImgPic {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .heroSection__width{
        padding-right: 6px;
    }

    .heroSection__cards1 {
        flex-direction: column;
        padding-top: 10px;
    }
}


@keyframes slider {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        opacity: -2;
    }
    
    to {
            transform: translate3d(0, 0, 0);
            /* opacity: 40; */
        }
}