<!DOCTYPE html>
<html>
<head>
    <title>Product Search Result</title>
</head>
<body>
    <h1>Product Search Result</h1>
    <ul>
        <!-- Use JavaScript to dynamically generate the list items -->
        <script>
            const response = <%= JSON.stringify(response) %>;
            for (let i = 0; i < response.length; i++) {
                document.write("<li>" + response[i].product + "</li>");
            }
        </script>
    </ul>
</body>
</html>
